/*
Colors used: 
Primary Color (Fog): #E1ECF3;
Secondary Color (Deep Purple): #23022e;
Highlight One (Lavender): #8c7aa9;
Highlight Two (Orange): #fc7753;
Text (Dark Grey): #393e41;
*/
/*Body*/
* {
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 4px 4px 5px -5px rgba(57, 62, 65, 0.71);
    position: relative;
    width: 100%;
    /* No spacing to top and bottom and auto spacing to left and right */
}

nav {
    display: inline-block;
    width: 100%;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #393e41
}

nav>ul>li>a:visted {
    color: #23022e;
}

nav>ul>li>a:hover {
    color: #8c7aa9;
    text-decoration: underline;
}

nav>ul>li>a:active {
    color: #fc7753;
    text-decoration: underline;
}

#hero {
    background-color: #8c7aa9;
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
}

main {
    padding-top: 10px;
}

body {
    background-color: #E1ECF3;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #393e41;

}

#socials>a {
    display: inline-block;
    margin: 20px 0px;
}

/*Headings*/
h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

/*Text States*/
a {
    color: #23022e;
    text-decoration: none;
    /* No underlining */
}

a:visited {
    /* visited link */
    color: #23022e;
}

a:hover,
a:focus {
    color: #fc7753;
    text-decoration: underline;
    /* Underlining when hovering over a link */
}

a:active {
    /* selected link */
    color: #fc7753;
}



/*Images*/
img {
    width: 100%;
}

/*Buttons*/
.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #8c7aa9;
    color: #ffffff;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ffffff;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:visited {
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}


.button.contact {
    background-color: transparent;
    color: #8c7aa9;
    text-transform: none;
    border: 2px solid #ffffff;
}

.button.contact:hover {
    background-color: #8c7aa9;
    color: #ffffff;
}

/* Layout styling */
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

.logo {
    max-width: 250px;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #393e41;
}

#hero h1 {
    text-align: center;
    /* Centers text */
}

.icon {
    max-width: 50px;
}

.centerh2 {
    text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

body{
    font-size: 18px;
}
#about h3 { margin: 10px 0 0 0;}

.col-md-6 {
    width: 50%;
  }

[class*="col-"] {
    float: left;
    padding: 10px;
    margin: auto;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
#hero{
    text-align:center;
}

#hero span {
    display: block;
  }
}

#work h3 {
    margin-top:0;
    margin-bottom:0;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@keyframes color-change {
    from {
        fill: #edc655;
    }

    to {
        fill: #f76414;
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 40s cloud-move-reverse infinite alternate linear;
}

/* Pull left  */
div.pullLeft a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #8c7aa9;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before
{
    width: 100%;
}