/*
Colors used: 
Primary Color (Fog): #E1ECF3;
Secondary Color (Deep Purple): #23022e;
Highlight One (Lavender): #8c7aa9;
Highlight Two (Orange): #fc7753;
Highlight Three (Light Blue): #c7d3eb;
Text (Dark Grey): #393e41;
*/
/*Body*/
* {
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding: 10px 4px;
    box-shadow: 4px 4px 5px -5px rgba(57, 62, 65, 0.71);
    position: relative;
    width: 100%;
    /* No spacing to top and bottom and auto spacing to left and right */
}

nav>div>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #393e41
}

nav>ul>li>a:visted {
    color: #23022e;
}

nav>ul>li>a:hover {
    color: #8c7aa9;
    text-decoration: underline;
}

nav>ul>li>a:active {
    color: #fc7753;
    text-decoration: underline;
}

#hero {
    background-color: #8c7aa9;
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
}

main {
    padding-top: 10px;
}

body {
    background-color: #E1ECF3;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #393e41;

}

#socials>a {
    display: inline-block;
    margin: 20px 0px;
}

/*Headings*/
h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

/*Text States*/
a {
    color: #23022e;
    text-decoration: none;
    /* No underlining */
}

a:visited {
    /* visited link */
    color: #23022e;
}

a:hover,
a:focus {
    color: #fc7753;
    text-decoration: underline;
    /* Underlining when hovering over a link */
}

a:active {
    /* selected link */
    color: #fc7753;
}



/*Images*/
img {
    width: 100%;
}

/*Buttons*/
.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #8c7aa9;
    color: #23022e;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ffffff;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:visited {
    color: #23022e;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}


.button.contact {
    background-color: transparent;
    color: #8c7aa9;
    text-transform: none;
    border-bottom: 3px solid #8c7aa9;
}

.button.contact:hover {
    background-color: #c7d3eb;
    color: #23022e;
}

/* Layout styling */
.container {
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

.logo {
    max-width: 150px;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0px;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive li {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    text-align: center;
    border-top: 1px ridge #c7d3eb;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #393e41;
}

#hero h1 {
    text-align: center;
    /* Centers text */
}

.icon {
    max-width: 50px;
}

.centerh2 {
    text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    .logo {
        width: 100%;
    }

    .self {
        width: 50%;
    }
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav>div>ul {
        margin: 1em 0;
    }

    nav>div>ul>li {
        list-style-type: none;
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    body {
        font-size: 18px;
    }

    #about h3 {
        margin: 10px 0 0 0;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
        margin: auto;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #hero {
        text-align: center;
    }

    #hero span {
        display: block;
    }
}

#work h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .self {
        width: 50%;
    }
    
    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

}

@keyframes color-change {
    from {
        fill: #edc655;
    }

    to {
        fill: #f76414;
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 40s cloud-move-reverse infinite alternate linear;
}

div.pullLeft a {
    color: #23022e;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Pull left  */
div.pullLeft a:before {
    position: absolute;
    width: 0;
    height: 90%;
    right: 4px;
    top: 0px;
    left: 3px;
    content: '';
    background: #c7d3eb;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before {
    width: 90%;
}